.footerDiv {
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
}

.footerDiv a img {
  width: 100%;
  height: 20px;
}

.socialMedia {
  width: 11%;
  display: flex;
  justify-content: space-around;
}