.profile {
    min-height: 90vh;
    background-color: #404040;
}

.singleDistillContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedToggle {
    display: flex;
    margin: 5px 225px;
}
.titleContainer {
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 2px lightgray;
    margin: 8px 0;
    width: 100%;
}
.title {
    font-size: 75px;
}
.feedContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0 90px 0;
    background-color: #404040;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    font-size: 25px;
    width: 150px;
    border-radius: 4px;
    background-color: #b78727;
}
.button:hover {
    background-color: #e1ad21;
}
