.checkinModalButton {
    max-height: 40px;
    border-radius: 4px;
    font-size: 16px;
    background: transparent;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border: 2px solid grey;
    color: black;
    text-decoration: none;
}

.distilleryCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.feedWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0 0 80px 0;
    background-color: #404040;
}
