.distilleryContainer {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border: 3px solid #b78727;
    box-shadow: 0 0 3px 4px lightgray;
    gap: 5px;
}
.name {
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.name:hover {
}
.street {
    font-size: 20px;
    color: black;
}

.img {
    height: 100px;
    width: 100px;
}
.imgContainer {
    display: inline-flex;
    padding: 4px;
}
.link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.link:hover {
    background-color: #ffcc33;
    border-radius: 5px;
}
