.loginModal {
  width: 400px;
  margin: 50px;
  border-radius: 4px;
}
.fieldDiv {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.fieldDiv label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.fieldDiv input {
  height: 38px;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.loginButton {
  text-align: center;
}

.loginButton button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  background-color: #f65858;
  border-color: #f65858;
  padding: 8px 12px;
}