.checkinModalTitle {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.checkinForm {
    width: 100%;
    margin-top: 16px;
}

/* css placeholder style !!*/
.checkinFormHeader {
    width: 100%;
    padding: 16px 0;
    border-bottom: 2px solid black;
}

.checkinLabel {
    display: block;
    margin-bottom: 4px;
}

.checkinText {
    width: 100%;
    border-radius: 4px;
}

.checkinButtonWrap {
    display: flex;
    flex-direction: row-reverse;
}

.checkinButton {
    padding: 8px 24px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background-color: darkgray;
    color: white;
    transition: all 0.2s;
    border: 0;
    margin: 0;
}

.checkinButton:hover {
    transform: scale(1.1);
}

.formSection {
    margin-bottom: 8px;
}

.formSectionFlex {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formSectionFlex > div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.checkinLabelTwo {
    margin-right: 16px;
}
.errors {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}
.error {
    color: red;
    padding: 2px;
}
