.checkin,
.editCard {
    max-height: fit-content;
    max-width: 860px;
    border: 2px solid #a1a1a1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
}
.checkinImage {
    display: flex;
    max-height: 400px;
    max-width: 400px;
    border-radius: 5px;
}

.checkinButtons {
    border: 2px solid #77593b;
    background-color: #404040;
    color: lightgrey;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
.buttonWrapper {
    display: flex;
    gap: 10px;
}

.cardDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: 0 16px 64px -16px rgb(46 55 77 / 10%);
    border: 3px solid #100c08;
    margin: 5px 50px;
    min-width: 1261px;
}
.cardDiv:hover {
    box-shadow: 0 0 3px 4px lightgrey;
}

.cardHeaderContent {
    padding: 10px;
    min-width: 796px;
}

.headerFirst {
    margin: 2px;
    color: lightgray;
}

.userName {
    color: #77593b;
    font-size: 28px;
    font-weight: bold;
}

.isAt {
    padding: 0 2px;
    font-size: 20px;
}

.location {
    font-size: 25px;
}

.headerSecond {
    margin: 5px;
    color: lightgray;
}

.drinking {
    font-size: 20px;
}

.drinkName {
    font-size: 25px;
}
.headerThird {
    margin: 5px;
    color: lightgray;
}

.review {
    font-size: 20px;
}
.userReview {
    font-size: 25px;
    margin: 2px;
}

.headerFourth {
    margin: 5px;
    color: lightgray;
}

.rating {
    margin: 2px;
}

.userRating {
    font-size: 25px;
}

.imgWrapper {
    margin: 10px;
}

.userFx {
    display: flex;
    justify-content: center;
    padding: 10px;
}
